
* {
	font-size: 14px;
	/*font-family: JetBrainsMonoNF;*/
	font-family: IosevkaTerm NF;
	min-height: 4px;
}

window.barmain#waybar {
    background: transparent;
}

window > box {

	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 0px;

	padding: 0px;

	border-radius: 0px;

	background-color: rgba(30, 30, 46, 1);
	border-bottom: 4px solid rgba(24, 24, 37, 1);
	color: rgba(116, 199, 236, 1);

}

#workspaces button {
	background: #1e1e2e;
	color: rgba(116, 199, 236, 1);
	border-bottom: none;
	border-radius: 0px;
}

#workspaces button:hover {
	/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
	background: #181825;
	border: none;
	box-shadow: inherit;
    text-shadow: inherit;
	padding: 0 10px;
}
#clock {
	margin-right: 8px;
}
